<!-- <a>dd</a><button type="button" class="btn btn-primary boutonModal" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Enregistrer rex</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-bold text-center text-primary" id="exampleModalLabel">Enregistrement d'un rex</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myFormenv">
          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label for="code-name" class="col-form-label">Nom:</label>
                <input type="text" class="form-control" formControlName="nom" id="code-name" placeholder="Entrez votre nom">
              </div>

            </div>
            <div class="col-6">
              <div class="mb-3">
                <label for="libelle-name" class="col-form-label">Prenom:</label>
                <input type="text" class="form-control" id="libelle-text" formControlName="prenom" placeholder="Entrez votre prenom">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label for="code-name" class="col-form-label">Fonction:</label>
                <input type="text" class="form-control" formControlName="fonction" id="code-name" placeholder="Entrez votre fonction">
              </div>

            </div>

          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" disable = "true" (click)="edit()">Edit</button>
      </div>
    </div>
  </div>
</div> -->
